.content-btn-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: #e8e8e8;
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content-btn-cart:hover {
    color: #212121;
    background: #e8e8e8;
}

